.leftside-form{
    width:430px;
    height:700px;
    background-color:rgba(5, 99, 160);
    position:relative;
    top:0px;
    left:100px;
}
.contact-us-form{
    width:100%;
    background-color: rgb(239, 247, 254);
    position:relative;
    top:100px;
height:110vh;
padding-top:40px;
}

.firstline{
    position:relative;
    left:100px;
    color:rgb(251, 249, 249);

}

.firstline p{
    position:relative;
    top:10px;
    left:30px;
    animation: none;
}
.firstline h2{
    position:relative;
    top:-10px;
    left:30px;    font-weight: 600;

}
#formcall{
    position:relative;
    left:-60px;
    font-size:25px;
    top:70px;
    border:2px solid white;
    border-radius:50%;
    padding:5px;
}

.contacting-form{
    position:relative;
    top:400px;

}

.secondline{
    position:relative;
    left:100px;
    top:-10px;
    color:rgb(251, 249, 249);

}
.secondline p{
    position:relative;
    top:10px;
    left:30px;    animation: none;

}
.secondline h2{
    position:relative;
    top:-10px;
    left:30px;    font-weight: 600;

}

#formmail{
    position:relative;
    left:-60px;
    font-size:25px;
    top:70px;
    border:2px solid white;
    border-radius:50%;
    padding:5px;
}



.thirdline{
    position:relative;
    left:90px;
    top:-20px;
    color:rgb(251, 249, 249);

}
.thirdline p{
    position:relative;
    top:10px;
    left:30px;    animation: none;

}
.thirdline h2{
    position:relative;
    top:-10px;
    left:30px;
    font-weight: 600;
}

#formlocation{
    position:relative;
    left:-50px;
    font-size:25px;
    top:70px;
    border:2px solid white;
    border-radius:50%;
    padding:5px;
}


.firsthead #calling{
    position:relative;
    top:-30px;
    width:430px;
    height:300px;
}


#star{
    color:red;
}
.location img{
    width:1500px;
    height:500px;
    position:absolute;
    top:850px;
    left:-890px;
}

#footer-contact{
    position:relative;
    top:850px;
}
#last-contact{
    position:relative;
    top:850px;
}


.footer-contact-2{
    position:relative;
    top:-450px;
}
.footer-line-contact{
    position:relative;
    top:-450px;
}


.rightside-form-contact{
    position:absolute;
    left:800px;
    top:30px;
box-shadow:10px 10px 20px rgb(172, 170, 170);
    padding:40px;
    padding-top:10px;
}
.rightside-form-contact p{
    width:400px;
    position:relative;
    top:10px;    animation: none;

}

.rightside-form-contact form input{
    position: relative;
    top:20px;
    left:10px;;
    width:350px;
    height:35px;
    margin-top:20px;
    border-radius:5px;
    border:1px solid rgb(207, 205, 205);
     
}
.rightside-form-contact form label{
    position:relative;
    top:30px;
    left:10px;
}
#comments-box{
    width:350px;
    height:100px;
}


.subb{

     position:relative;
    top:30px;
    left:10px;

    padding:10px 150px; 
    color:white;
    background-color:rgba(5, 99, 160);
    animation: none;
}