.leftside-form{
    width:450px;
    height:500px;
    background-color:blue;
    position:relative;
    top:380px;
    left:100px;
}



.firstline{
    position:relative;
    left:100px;
    color:rgb(251, 249, 249);

}
.firstline p{
    position:relative;
    top:10px;
    left:30px;
}
.firstline h2{
    position:relative;
    top:-50px;
    left:30px;
}
#formcall{
    position:relative;
    left:-60px;
    font-size:25px;
    top:70px;
    border:2px solid white;
    border-radius:50%;
    padding:5px;
}
.underlinee #lineone{
    position:relative;
    width:350px;
    height:1px;
    left:20px;
    top:-450px; 
    background-color: rgb(253, 196, 255);
}





.secondline{
    position:relative;
    left:100px;
    top:-50px;
    color:rgb(251, 249, 249);

}
.secondline p{
    position:relative;
    top:10px;
    left:30px;
}
.secondline h2{
    position:relative;
    top:-50px;
    left:30px;
}

#formmail{
    position:relative;
    left:-60px;
    font-size:25px;
    top:70px;
    border:2px solid white;
    border-radius:50%;
    padding:5px;
}
.underlinee #linetwo{
    position:relative;
    width:350px;
    height:1px;
    left:20px;
    top:-330px; 
    background-color: rgb(253, 196, 255);
}






.thirdline{
    position:relative;
    left:90px;
    top:-100px;
    color:rgb(251, 249, 249);

}
.thirdline p{
    position:relative;
    top:10px;
    left:30px;
}
.thirdline h2{
    position:relative;
    top:-50px;
    left:30px;
}

#formlocation{
    position:relative;
    left:-50px;
    font-size:25px;
    top:70px;
    border:2px solid white;
    border-radius:50%;
    padding:5px;
}
.underlinee #linethree{
    position:relative;
    width:350px;
    height:1px;
    left:20px;
    top:-180px; 
    background-color: rgb(253, 196, 255);
}

.firsthead #calling{
    position:relative;
    top:-180px;
    width:450px;
    height:300px;
}


.rightside-form{
    position:absolute;
    left:900px;
    top:490px;
}
.rightside-form p{
    width:500px;
    position:relative;
    top:-10px;
}

.rightside-form form input{
    width:300px;
    height:30px;
    margin-top:26px;
    border-radius:5px;
    border:1px solid rgb(207, 205, 205);
}
.rightside-form form label{
    position:relative;
    top:20px;
}
#comments-box{
    width:300px;
    height:100px;
}

#onsubmit{
    position:relative;
    top:50px;

    padding:10px 130px; 
    color:white;
    background-color: blue;
}
#star{
    color:red;
}
.location img{
    width:1500px;
    height:500px;
    position:absolute;
    top:850px;
    left:-890px;
}

#footer-contact{
    position:relative;
    top:1100px;
}
#last-contact{
    position:relative;
    top:1100px;
}