.driving-innovation-parent{
    position:absolute;
    margin-top:450px;
    background-color: rgba(55, 84, 142);
    height:500px;
    width:100%;

    
}
 .bgimg img{
    position:absolute;
  width:450px;;
  height:500px;
    left:1100px;
    bottom:10px;
 }
.tt {
  height: 300vh;
  overflow: hidden;  /* hides everything outside */
}


.driving-innovation-child h1{
        line-height: 5rem;
        position: relative;
        top:50px;
        color:white;

}
.driving-innovation-child{
    position:relative;
    left:40px;
}
.driving-innovation-child p{
    color:white;
    width:900px;
    position: relative;
    top:60px;

}
.child22{
    width:100%;
    height:450px;
    margin-top:230px;
    background-color: rgb(142, 145, 153);;
}
.child33{
    width:100%;
    height:500px;
    background-color: blue;
}


.block55 {
  position: relative;
  left: 120px;
  top: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
  max-width: 1300px;
  min-height: 600px;
  height: auto;
  background-color: rgb(226, 226, 249);
  padding: 20px;

/* 
  animation: blockk linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%; */

  align-items: stretch; 
}

.our-offering h2{
    width:100%;
    text-align: center;
    color:white;
}
.our-offering{
            background-color:rgba(24, 24, 98)

}
.block55{
        background-color:rgba(24, 24, 98)

}
.block55 > div {
  flex: 1 1 280px;
  max-width: 270px;
  color: white;
  padding: 20px;
  border-radius: 8px;
  min-height: 220px; 
  position:relative;
  border:1px solid grey;
  left:140px;
          background-color:rgba(24, 24, 98)


}

.block55 > div h3,p,button{
  position:relative;
  top:80px;
}

.block55 button{
  background-color: blue;
  color:white;
}

.block55 .box-19 p{
  position:relative;
  top:80px;
  width:280px;
}
#imgg18{
    
    width:70px;
    height:70px;
    position: absolute;
    top:-30px;
    left:100px;
}
#imgg19{
    
    width:70px;
    height:70px;
    position: absolute;
    top:-35px;
    left:100px;
}
#imgg20{
    
    width:70px;
    height:70px;
    position: absolute;
    top:-30px;
    left:100px;
}
#imgg21{
    
    width:70px;
    height:70px;
    position: absolute;
    top:-30px;
    left:100px;
}
#imgg22{
    
    width:70px;
    height:70px;
    position: absolute;
    top:-35px;
    left:100px;
}
#imgg23{
    
    width:70px;
    height:70px;
    position: absolute;
    top:-36px;
    left:100px;
}
#dup1{
    position:relative;
    top:50px;
    
}
#userr-dup1{
     width:60px;
  height:60px;
  position:absolute;
  top:170px;left:170px
}

#bag-dup1{
     width:70px;
  height:70px;
  position:absolute;
  top:160px;left:440px
}

#time-dup1{
  width:60px;
  height:60px;
  position:absolute;
  top:170px;left:730px
}

#calculator-dup1{
     width:70px;
  height:70px;
  position:absolute;
  top:160px;left:1000px
}

#notes-dup1{
    width:120px;
  height:120px;
  position:absolute;
  top:140px;left:1270px
}

.block2 #dup1{
    position:relative;
    left:360px;
    top:0px;
}
#dup2-class{
    height:300px;
}
#dup2-class2{
    position:relative;
    top:20px;
}

.block8 #dup3-h2{
    position:relative;
    left:400px;
}
#dup3{
    position:relative;
    top:150px;
}
#faq-cards{
    display:flex;
    margin-left: 50px;;
}
.block8>#faq-cards{
    gap: 50px;;
}

#footer-dup{
    position:relative;
    top:80px;
}
#dup-last{
    position:relative;
    top:90px;
}