.driving-innovation-parent{
    position:absolute;
    margin-top:450px;
    background-color: rgba(55, 84, 142);
    height:500px;
    width:100%;

    
}

.child22{
    position:relative;
    left:-50px;
    top:930px;
    width:100%;
    height:450px;
}
 .bgimg img{
    position:absolute;
  width:450px;;
  height:500px;
    left:1100px;
    bottom:10px;
 }
.tt {
  height: 300vh;
  overflow: hidden; 
}

.driving-innovation-child h1{
        line-height: 5rem;
        position: relative;
        top:50px;
        color:white;

}
.driving-innovation-child{
    position:relative;
    left:40px;
}
.driving-innovation-child p{
    color:white;
    width:900px;
    position: relative;
    top:60px;

}

/* .child22{
    width:100%;
    height:450px;
    margin-top:230px;
    background-color: rgb(142, 145, 153);;
} */
.child33{
    width:100%;
    height:500px;
    background-color: blue;
}
#offer{
    position:relative;
    top:400px;
}


.block55 {
  position: relative;
  left: 120px;
  top: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
  max-width: 1300px;
  min-height: 600px;
  height: auto;
  background-color: rgb(226, 226, 249);
  padding: 20px;

/* 
  animation: blockk linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%; */

  align-items: stretch; 
}

.our-offering h2{
    width:100%;
    text-align: center;
    color:white;
}
.our-offering{
            background-color:rgba(24, 24, 98)

}
.block55{
        background-color:rgba(24, 24, 98)

}
.block55 > div {
  flex: 1 1 280px;
  max-width: 260px;
  color: white;
  padding: 20px;
  border-radius: 8px;
  min-height: 200px; 
  position:relative;
  border:1px solid grey;
  left:140px;
   background-color:rgba(24, 24, 98);
   animation: none;

}

.block55 > div h3,p,button{
  position:relative;
  top:80px;
  text-align: justify;
     animation: none;

}

.block55 button{
  background-color: blue;
  color:white;
}

.block55 .box-19 p{
  position:relative;
  top:80px;
  width:250px;
}
#imgg18{
    
    width:70px;
    height:70px;
    position: absolute;
    top:-30px;
    left:100px;
}
#imgg19{
    
    width:70px;
    height:70px;
    position: absolute;
    top:-35px;
    left:100px;
}
#imgg20{
    
    width:70px;
    height:70px;
    position: absolute;
    top:-30px;
    left:100px;
}
#imgg21{
    
    width:70px;
    height:70px;
    position: absolute;
    top:-30px;
    left:100px;
}
#imgg22{
    
    width:70px;
    height:70px;
    position: absolute;
    top:-35px;
    left:100px;
}
#imgg23{
    
    width:70px;
    height:70px;
    position: absolute;
    top:-36px;
    left:100px;
}
.word-slider-about{
    position:relative;
    top:1020px;
    
}
#userr-dup1{
     width:60px;
  height:60px;
  position:absolute;
  top:-10px;left:140px;

  animation: float 3s ease-in-out infinite alternate;
}

#bag-dup1{
     width:70px;
  height:70px;
  position:absolute;
  top:340px;left:415px;
  animation: float 3s ease-in-out infinite alternate;
}

#time-dup1{
  width:60px;
  height:60px;
  position:absolute;
  top:-30px;left:100px;
  animation: float 3s ease-in-out infinite alternate;
}

#calculator-dup1{
     width:70px;
  height:70px;
  position:absolute;
  top:350px;left:980px;
  animation: float 3s ease-in-out infinite alternate;
}

#notes-dup1{
    width:120px;
  height:120px;
  position:absolute;
  top:-40px;left:1240px;
  animation: float 3s ease-in-out infinite alternate;
}

.block2 #dup1{
    position:relative;
    left:360px;
    top:0px;
}
#dup2-class{
    height:200px;
    position:relative;
    top:510px;
}

#dup2-class2 {
  position: relative;
  top: 30px;
  display: inline-block;
  white-space: nowrap;   /* keep names in one line */
  animation: scroll 15s linear infinite;
}

#dup2-class2 em {
  margin: 0 30px;       /* spacing between names */
  font-size: 18px;
}


.chooseus-about{
    position:relative;
    top:250px;
    width:190%;
}

#dup3{
    position:relative;
    top:410px;
}
#faq-cards{
    display:flex;
   
}
.block8>#faq-cards{
    gap: 20px;;
}

#footer-dup{
    position:relative;
    top:600px;
}
#dup-last{
    position:relative;
    top:600px;
}