   /* .top-bar {
                background-color: black;
                width: 100%;
                position: static;
                font-family: 'poppins',sans-serif;
                display: flex;
                color: white;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                overflow: hidden;
                padding: 15px 20px; 
            }
            .left{
                
                top: 10px;
                left: 10px;
                color: white;
                font-size: 20px;
                overflow: hidden;
            }
            .fa-regular.fa-phone{
                color: #90acf2;
                overflow: hidden;
            }
            .fa-light.fa-envelope{
                color: #90acf2;
                overflow: hidden;
            }
            .top-bar.right,.top-bar.left{
                display: flex;
                align-items: center;
                gap: 15px; 
            }
            .top-bar a{
                color: white;
                text-decoration: none;
                font-size: 14px;
            }
            .right{
                padding-right: 40px;
                top: 10px;
                right: 10px;
                display: flex;
                align-items: center;
                overflow: hidden;
                color: white;
                font-size: 24px;
            }
                i{
                    font-size: 20px;
                    overflow: hidden;
                }
                
                
                .contact-info span{
                    margin-right: 20px;
                }
                ul{
                    list-style: none;
                    margin: 0;
                    padding: 0;

                }
               .navbar {
  display: flex;
  font-family: 'poppins',sans-serif;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
}

.logo img {
  height: 60px;
}


.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-links {
  display: flex; 
  gap: 15px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}


.menu-toggle {
  display: none; 
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.menu-toggle div {
  width: 25px;
  height: 3px;
  background: black;
}




.menu-toggle div {
  width: 25px;
  height: 3px;
  background: black;
}

                 
                
                .main-content{
                    background-image: url('BG.png');
                    overflow: hidden;
                    font-family: 'poppins',sans-serif;
                    background-size: cover;
                    background-position: center;
                    padding: 50px 20px;   
                    width: 100%;        
                }
                
                .header-content{
                    color: rgb(239, 236, 236);
                    overflow: hidden;
                }
                 .right-image{
                    float: right;
                    margin: 10px;
                    width: 550px;
                    height: 330px;
                    overflow: hidden;
                }
                .home-content{
                    font-size: 20px;
                    overflow: hidden;
                    font-family: 'poppins',sans-serif;
                    width: 100%;
                    background-size: cover;
                    
                }
                
                .container{
                    background-color: #ffffff;
                    display: flex;
                    align-items: flex-start;
                    font-family: 'poppins',sans-serif;
                    justify-content: space-between;
                    flex-direction: row;
                    gap: 0;
                    overflow: hidden;
                    width: 100%;

                    
                }
                .form-selection{
                    padding: 40px;
                    background-color: #f9f9f9;
                    width: 40%;
                    font-family: 'poppins',sans-serif;
                    
                    height: 30px;
                }
                .benefits-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: 'poppins',sans-serif;
    max-width: 800px;
    margin: auto;
    font-family: Arial, sans-serif;
}

.benefit-item {
    display: flex;
    align-items: center;
    text-align: start;
    height: 90px;
    font-family: 'poppins',sans-serif;
    border-radius: 10px;
    color: rgb(241, 245, 242);
    padding: 0px 40px 0px 20px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}
.benefits-container h3{
    padding-left: 100px;
}


.orange {
    background-image: url("orange.png");
}

.teal {
    background-image: url("teal.png");   
}

  
  .benefit-item p {
    font-size: 12px;
    margin: 0;
    float: left;
    color: rgb(244, 239, 239);
    padding-left: 100px;
    padding-top:0%;
    overflow: hidden;
  }
  .benefit-item h3{
    font-size: 12px;
    float: left;
    color: #fcf9f9;
    padding-left: 100px;
    padding-top: 5px;
  }
                h2{
                    font-size: 24px;
                    color: #333;
                    margin-bottom: 30px;
                    overflow: hidden;

                }
                .form-group{
                   margin-bottom: 25px;
                   
                }
                label{
                    display: block;
                    font-weight: bold;
                    color: #555;
                    margin-bottom: 5px;
                    margin-bottom: 5px;
                    
                    
                }
                input,textarea{
                    width: 100%;
                    padding: 12px;
                    border: 1px solid #ddd;
                    border-radius: 4px;
                    box-sizing: border-box;
                    font-size: 14px;
                    
                }
                input::placeholder,
                textarea::placeholder{
                    color: #aaa;
                    


                }
                .sbutton{
                    width: 100%;
                    padding: 15px;
                    background-color: #111111;
                    color: #f6f4f4;
                    border: none;
                    border-radius: 10px;
                    font-size: 16px;
                    cursor: pointer;
                    

                }
                
               
                .grid-container {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    gap: 20px;
                    overflow: hidden;
                    
                }
                .chatbots{
                    
                    margin: 0 auto;
                    background-color: #fff;
                    overflow: hidden;
                    border-radius: 10px;
                    font-family: 'poppins',sans-serif;
                    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
                    width: 100%;
                }
                .expertise-grid{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 15px;
                    overflow: hidden;
                    margin-bottom: 30px;
                    
                }
                .expertise-item{
                    background-color: #ddd;
                    border: 1px solid #e2e8f0;
                    border-radius: 6px;
                    padding: 30px;
                    overflow: hidden;
                    text-align: center;
                    font-size: 18px;
                    color: black;
                    box-shadow: 0 1px 2px rgba(0,0,0,0,05);
                }
                

                
                .service-button{
                    display: grid;
                    grid-template-columns: repeat(4,1fr);
                    gap: 15px;
                    font-family: 'poppins',sans-serif;
                    align-items: center;
                    overflow: hidden;

                }
                .service-item{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 55px;
                    font-family: 'poppins',sans-serif;
                    background-color: #ddd;
                    font-size: 16px;
                    color: #333;
                    overflow: hidden;
                    box-shadow: 0 1px 2px rgba(0,0,0,0,05);
                }
                button:hover{
                    background-color: #2A619B;
                    color: #fff;
                    overflow: hidden;
                }
                 .why-choose-us {
            text-align: center;
            font-family: 'poppins',sans-serif;
            padding: 40px 20px;
            background-color: #fff;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            
            width: 100%;
        }

        .why-choose-us h2 {
            font-size: 36px;
            color: #333;
            margin-bottom: 10px;
            overflow: hidden;
            font-family: 'poppins',sans-serif;
        }

        .why-choose-us p.subheading {
            font-size: 18px;
            color: #666;
            margin-bottom: 40px;
            overflow: hidden;
            font-family: 'poppins',sans-serif;
        }

        .features-grid {
            display: flex;
            justify-content: space-around;
            gap: 20px;
            flex-wrap: wrap;
            overflow: hidden;
        }

        .feature-card {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
            padding: 20px;
            text-align: center;
            font-family: 'poppins',sans-serif;
            overflow: hidden;
            width: 200px; 
            display: flex;
            flex-direction: column;
            align-items: center;
            border-top: 5px solid; 
        }

        .feature-card.extensive {
            border-color: #3182ce;
            
        }

        .feature-card.flexible {
            border-color: #e5a74e;
        }

        .feature-card.quick {
            border-color: #bd7ce9;
        }

        .feature-card.cross-industry {
            border-color: #48bb78;
        }

        .feature-card.sla-driven {
            border-color: #e53e3e;
        }

        .feature-card .icon {
            font-size: 55px;
            display: inline-block;
            margin-bottom: 15px;
            z-index: 1;
            position: relative;
            
        }

        .feature-card.extensive .icon {
            color: #3192ce;
            
        }

        .feature-card.flexible .icon {
            color: #e5a74e;
        }

        .feature-card.quick .icon {
            color: #bd7ce9;
        }

        .feature-card.cross-industry .icon {
            color: #48bb78;
        }

        .feature-card.sla-driven .icon {
            color: #e53e3e;
        }

        .feature-card h3 {
            font-size: 18px;
            margin-bottom: 10px;
            font-weight: bold;
            color: #333;
        }

        .feature-card p {
            font-size: 14px;
            color: #777;
            line-height: 1.5;
            text-align: center;
        }
        .background-overlay {
            position: relative; 
            width: 100%;
            height: 400px; 
            background-image: url('bottom.png'); 
            background-size: cover;
            z-index: 2;
            background-position: center;
            display: flex; 
            align-items: center; 
            justify-content: space-between; 
            padding: 0 50px; 
            color: white;
            overflow: hidden; 
            z-index: 10;
        }




    .ai-image-container img {
        position: relative; 
        z-index: 1; 
        position: relative;
        width: 410px;
        margin-right: 50px;
    
    }



    .form-container {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 150px;
        border-radius: 8px;
        position: relative;
        z-index: 2; 
        width: 300px; 
    }

    .form-container h2 {
        
        margin-bottom: 20px;
        font-size: 30px;
        text-align: center;
        color: white;
    }

    .form-group {
        margin-bottom: 15px;
    }

 .form-group label {
    display: block;
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 14px;
    color: white;
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="email"] {
    width: calc(100% - 20px); 
   position: relative;
    border: none; 
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.2); 
    color: white;
}

.form-group input::placeholder {
    color: rgba(177, 171, 171, 0.7);
   
}

.form-container button {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #007bff; 
    color: white;
    border: none;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #0056b3;
}


        details{
            background: #f3f1f1;
            margin-bottom: 10px;
            border-radius: 6px;
            overflow: hidden;
        }
        summary{
            padding: 15px;
            cursor: pointer;
            font-weight: bold;
            position: relative;
            overflow: hidden;
        }
        summary::marker{ display: none;}
        summary::after{
            content:" *";
            position: absolute;
            right: 20px;
            font-size: 18px;
            transition: transform 0.3s;
            overflow: hidden;

        }
        details[open] summary::after{
            content: "-";
            transition: rotate(180deg);
            overflow: hidden;
        }
        .faq-answer{
            padding: 15px;
            line-height: 1.5;
            background: #f8f5f5;
            overflow: hidden;
        } */