.digital-change{
    position:relative;
    top:150px;
    left:50px;
}
.digital-change h1{
    position:absolute;
    width:750px;
}
.digital-change p{
    position:absolute;
    top:160px;
    width:650px;
}
.digital-change button{
    position:relative;
    top:400px;
    background-color: rgba(55, 84, 142);
    color:white;
    padding:10px 30px;

}
#t-one{
    position:relative;
    width:350px;
    height:300px;
    left:800px;
    top:100px;
}
#t-two{
    position:relative;
    width:680px;
    height:430px;
    left:400px;
    top:100px;
}

.component3{
    position:relative;
    top:280px;
    left:50px;
}
.component3 img{
    width:550px;
    height:400px;
    position:relative;
    top:-150px;
    left:-70px;
}
.circle{
    width:100px;
    border:1px solid;
    border-radius:50%;
    background-color:red;
    font-size:15px;
    height:80px;
    position:relative;
    left:40px;
    top:-30px;
    color:white;
}
#circle1{
    position:relative;
    top:10px;  font-size:15px;
    left:10px;
}
#digi{
    color: rgba(55, 84, 142);
    position:relative;
    left:40px;
}
#mark{
    position:relative;
    top:-480px;
    left:270px;
    color:red;
}
.bgg{
    position:absolute;
    z-index:-1;
    top:350px;
    width:1220px;
    height:80px;
    left:100px;
    background-color:  rgba(55, 84, 142);;
}
.component3 #course-high{
    position:relative;
    background-color:rgba(55,84,142);
    width:495px;
    padding :10px 10px;
    top:-650px;    left:800px;
    color:white;

}
.right-boxx{
    position:relative;
    top:-670px;
    left:800px;
    display:flex;
    flex-wrap:wrap;
    width:600px;
}

.squre1{
    width:170px;
    height:100px;
    border:1px solid grey;
}

.squre1 p{
    position:relative;
    top:30px;
    left:10px;
}
.squre1 img{
    width:50px;
    height:30px;
    position:absolute;
    top:10px;
    left:20px;
}
.squre1 #second{
    width:50px;
    height:50px;
    position:absolute;
    top:0px;
    left:200px;
}
.squre1 #third{
     width:50px;
    height:50px;
    position:absolute;
    top:0px;
    left:370px;
}
.squre1 #fourth{
     width:50px;
    height:50px;
    position:absolute;
    top:100px;
    left:20px;
}

.squre1 #fifth{
     width:30px;
    height:30px;
    position:absolute;
    top:110px;
    left:200px;
}

.squre1 #sixth{
     width:40px;
    height:40px;
    position:absolute;
    top:110px;
    left:370px;
}

.squre1 #seventh{
     width:40px;
    height:40px;
    position:absolute;
    top:210px;
    left:20px;
}
.squre1 #eighth{
     width:50px;
    height:50px;
    position:absolute;
    top:200px;
    left:190px;
}
.squre1 #nineth{
     width:30px;
    height:30px;
    position:absolute;
    top:210px;
    left:370px;
}
.curriculum {
position:relative;
top:-250px;

}
.curriculum h2,h3{
    text-align:center;
}

.curriculum-boxes{
    position:relative;
    top:-180px;
    left:250px;
    display:flex;
    flex-wrap:wrap;
    width:1300px;
    gap:10px;

}
.curriculum-boxes .div1{
    border:1px solid black;
    padding:10px 30px ;
    width:300px;
    height:210px;
    background-color:rgb(163, 185, 230); ;
    
}
.curriculum-boxes .div1 p{
    position:relative;
    top:-40px;
}
.curriculum-boxes .div1 h2{
    position:relative;
    top:-30px;
}
#volume{
    position:relative;
    top:20px;
    left:-25px;
}

.component4{
    position:relative;
    left:100px;
    top:-100px;
    

}
.component4 h2{
     font-size:40px;
    font-weight:600
}
.component4 p{
    position:relative;
    top:0px;
}

.div2 img{
    width:100px;
    height:70px;
    position:relative;
    top:20px;
}
.div2 p{
    position:relative;
    top:20px;
}
.inside-component{
    display:flex;
    flex-wrap:wrap;
    width:700px;
    column-gap:90px;

}
#career{
    width:120px;
    height:70px;
}
#mock{
    width:90px;
    height:90px;
}
#guest{
    width:80px;
    height:70px;
    
}
#resume{
    width:70px;
    height:60px;
}
#bgg2{
    position:relative;
    top:20px;
    width:1400px;
    left:-0px;
}

.right-side-component img{
    width:700px;
    height:430px;    position:relative;
    top:-760px;
    left:720px;

}
.right-side-component .p{
    width:300px;
    height:250px;
    background-color: rgb(91, 117, 169);
    border-radius: 50%;
    position:relative;
    top:-410px;
    left:1000px;
}

.get-started{
    position:relative;
    top:-700px;
    left:100px;
}
.left-side-para{
    position:relative;
    width:700px;
    top:-50px;

}
.left-side-para p{
    position: relative;
    top:50px;    line-height: 32px;;

}
.left-side-para ul{
    position:relative;
    top:70px;    line-height: 32px;;

}
.down-para{
    position:relative;
    top:80px;
}
.down-para p{
    position:relative;
    top:0px;
    line-height: 32px;;
}
#training-form{
    position:relative;
    top:-1320px;
    left:1000px;
    
}
#training-form form{
    position:relative;
    top:10px;
    background-color: rgba(55, 84, 142);
    width:350px;
    padding:10px;
    left:-40px;
    color:white;
}
#training-form form input{
   margin-top:20px;
   position:relative;
   left:10px;
   background-color:none;
   
}
#training-form form #onsubmit{
margin-left:-10px;
padding:10px 160px;
background-color: rgba(55,84,142);
}
.submitt{
    position:relative;
    left:-20px;
    width:700px;
    height:40px;
}

#training-form #apply{
    position:relative;
    left:-40px;
}

.training-footer{
    position:absolute;
    top:3710px;
    left:50px;
}
.training-footer .footer{
    width:120%;
    left:-100px;
}
.training-footer .lastt{
    width:120%;
    left:-100px;
}